@charset "utf-8";

.top{
	height: 200px;
	background: red;
	margin-bottom: 30px;
}

#content .boxA, .boxB, .boxC{
	height: 200px;
}

@media(max-width:1199px){
	#content .boxA, .boxB, .boxC{
		margin-bottom: 30px;
	}
}

@media(max-width:767px){
	.top{margin-bottom:0;}
	#content .boxA, .boxB, .boxC{
		margin-bottom: 0px;
	}
}
