@charset "utf-8";
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 100%;
      margin: auto;
  }

  .photo{
    width: 100px;
    height: 100px;
    background: #666;
    margin: auto;
    border-radius: 100px;
  }

  h2{text-align:center;}
  p{text-align:center;}

  .boxA, .boxB, .boxC{width:370px;}
  .boxB{margin:auto;}
  .boxC{float:right;}

@media(max-width:1200px){
	  .boxA, .boxB, .boxC{width:310px;}
}
@media(max-width:992px){
	  .boxA, .boxB, .boxC{width:236px;}
}
@media(max-width:768px){
	  .boxA, .boxB, .boxC{width:100%;}
	  #content{padding:0px 15px 0px 15px;}
}