* {
    margin: 0;                               
    padding: 0;
    box-sizing: border-box;
}
a{
    border: none;
    outline: none;
   /* behavior:expression(this.onFocus=this.blur());*/
}
body {
    width: 1903px;
    height: auto;
}
li {
    list-style-type: none;
}
img {
  border: 0px;
}
.header {
    width: 1903px;
    height: 851px;
    background-image: url(../images/edm_01.jpg);
    position: relative;    
}
.navbox {
    margin: 20px 0 0 702px;
    position: relative;
    z-index: 9;
    display: inline-block;
}
.navbox li {
    float: left;
    margin-right: 15px;
}
.navbox li a {
    display: block;
    width: 148px;
    height: 51px;
}
/*
.nav-a {
    background-image: url(../images/btn_a_1.png);  
}
.nav-a:hover {
    background-image: url(../images/btn_a_2.png);  
}
.nav-b {
    background-image: url(../images/btn_b_1.png);  
}
.nav-b:hover {
    background-image: url(../images/btn_b_2.png);  
}
.nav-c {
    background-image: url(../images/btn_c_1.png);  
}
.nav-c:hover {
    background-image: url(../images/btn_c_2.png);  
}
*/
.logo {
    width: 249px;
    height: 131px;
    position: absolute;
    z-index: 9;
    left: 1482px;
    top: 15px;  
    opacity: 1;  
}
.part {
    opacity: 0;
    width: 919px;
    height: 851px;
    position: absolute;
    z-index: 2;
    left: 749px;
    top: 0; 
    animation-duration: 2s;
    animation-name: parting;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}


@keyframes parting {
    from {
        left: 500px;
        transform: scale(.1);
        display:block;
        opacity: 0;
        filter: alpha(opacity=0);
    }
    to {
        left: 749px;
        opacity: 1;
        display:block;
        filter: alpha(opacity=100);
    }
}

.title-bg {
    opacity:0;
    width: 994px;
    height: 485px;
    position: absolute;
    z-index: 1;
    left: 292px;
    top: 80px;
    animation-duration: 2s;
    animation-name: titleBging;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes titleBging {
    from {
        top: 200px;
        transform: scale(.1);
        opacity: 0;
        filter: alpha(opacity=0);
    }
    to {
        top: 80px;
        opacity: 1;
        filter: alpha(opacity=100);
    }

}

.title-h1 {
    opacity: 0; 
    width: 707px;
    height: 334px;
    position: absolute;
    z-index: 3;
    left: 435px;
    top: 122px;
    animation-duration: 2s;
    animation-name: titleh1ing;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes titleh1ing {
    from {
        top: 270px;
        transform: scale(.1);
        opacity: 0;
        filter: alpha(opacity=0);
    }
    to {
        top: 122px;
        opacity: 1;
        filter: alpha(opacity=100);
    }
}

.title-h2 {
    opacity: 0; 
    width: 321px;
    height: 181px;
    position: absolute;
    z-index: 4;
    left: 336px;
    top: 74px;
    animation-duration: 2s;
    animation-name: titleh2ing;
    animation-iteration-count: 1;
    animation-timing-function:ease-in;
    animation-fill-mode: forwards;
}

@keyframes titleh2ing {
    from {        
        left: -321px;
        opacity: 0;
    }
    80% {
        left: -321px;
        opacity: 0;
    }
    to {
        left: 336px;
        opacity: 1;        
    }
}

.title-p1 {
    opacity: 0; 
    width: 649px;
    height: 158px;
    position: absolute;
    z-index: 5;
    left: 640px;
    top: 402px;
    animation-duration: 2s;
    animation-name: titlep1ing;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes titlep1ing {
    from {
        left: 400px;
        top: 380px;
        transform: scale(.1);
        opacity: 0;
        filter: alpha(opacity=0);
    }
    to {
        left: 640px;
        top: 402px;
        opacity: 1;
        filter: alpha(opacity=100);
    }
}

.title-p2 {
    opacity: 0;
    width: 642px;
    height: 150px;
    position: absolute;
    z-index: 5;
    left: 640px;
    top: 576px;
    animation-duration: 2s;
    animation-name: titlep2ing;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes titlep2ing {
    from {
        left: 300px;
        top: 380px;
        transform: scale(.1);
        opacity: 0;
        filter: alpha(opacity=0);
    }
    to {
        left: 640px;
        top: 576px;
        opacity: 1;
        filter: alpha(opacity=100);
    }
}

.edm-a {
    width: 1903px;
    height: 675px;
    background-image: url(../images/edm_02.jpg);
}
.mailto {
    width: 202px;
    height: 24px;
    display: inline-block;
    margin: 550px 0 0 900px;
}
.mailto a {
    display: block;
    width: 202px;
    height: 24px;
    background-image: url(../images/mail-1.png);
}
.mailto a:hover {
    background-image: url(../images/mail-2.png);
}

.edm-b {
    height: 782px;
    background-image: url(../images/edm_03.jpg);
}
.edm-c {
    height: 512px;
    background-image: url(../images/edm_04.jpg);
}
.edm-d {
    width: 1903px;
    height: 610px;
    background-image: url(../images/edm_05.jpg);
}
.edm-e {
    width: 1903px;
    height: 1224px;
    background-image: url(../images/edm_06.jpg);
    display: inline-block;
}
.btnbox {
    width: 530px;
    height: 218px;
    margin: 980px auto 0 auto;   
}
.btn-a {
    display: block;
    width: 240px;
    height: 218px;
    background-image: url(../images/btn_d_1.png);
    float: left;
}
.btn-a:hover {
    background-image: url(../images/btn_d_2.png);
}
.btn-b {
    display: block;
    width: 240px;
    height: 218px;
    background-image: url(../images/btn_e_1.png);
    float: right;
}
.btn-b:hover {
    background-image: url(../images/btn_e_2.png);
}
.footer {
    width: 1903px;
    height: 96px;
    background-image: url(../images/edm_07.jpg);
    margin-top: -5px;
    overflow:hidden;
}
.footer ul {
    margin: 0px 0 0 254px;
    display: inline-block;
}
.footer ul li {
    width: 120px;
    height: 43px;	
    float: left;
    margin-right: 26px;
}
.footer ul li a {
    display: block;
    width: 145px;
    height: 95px;
}

































